<!-- <p class="lead">Welcome to {{title}} hello {{user}}</p>

{{car.carBrand}}

<ul>
  <li>Mouse</li>
  <li>Laptop</li>
  <li>Keyboard</li>
</ul>


<ul>
  <li *ngFor="let car of cars">{{car.carBrand}}</li>
</ul>

<ul class="list-inline">
  <li class="list-inline-item" *ngFor="let car of cars">{{car.carBrand}}</li>
</ul> -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
    <h3></h3>
      <app-color></app-color>
      <app-customer></app-customer>
      
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
      <app-rental></app-rental>
    </div>
   
  </div>
  
  
</div>
