<h3>Cars for Rent</h3>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table" *ngIf="dataLoaded==true">
    <thead>
        <tr>
            <!-- <th>Id</th>
            <th>Brand Name</th>
            <th>Color</th>
            <th>Model Name</th>
            <th>Daily Price</th> -->

            <th>Id</th>
            <th>Brand</th>
            <th>Color </th>
            <th>Model Name</th>
            <th>Model Year</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelName}}</td>
        <td>{{car.dailyPrice}}</td>

        <!-- <td>{{car.id}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.modelName}}</td>
        <td>{{car.modelYear}}</td> -->
        
    </tr>
</tbody>
    
</table>